/*home*/
.home h1{
    text-align: center;
    margin-bottom: 60px;
}

.card {
    width: 300px;
    height: 400px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 15px;
}
.card img{
    width: 250px;
    height:280px;
    padding-top: 10px;
    background-color:rgb(50 56 62); 
    object-fit:contain;
    max-width: 100%;
    max-height: 100%;
}
.col{
    display: flex;
}
.body{
font-size: 5px;
text-align: center;
}

/*hoover-img*/
.img-wrapper{
    position: relative;

}
.img2{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    height: 100%;
    transition: opacity 0.6s linear;
}
.img2:hover{
    opacity: 0;
}

/*login*/
.login h1{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 20px;
}

/*purchases*/
 .purchases li{
    margin-top: 10px;
    padding-top: 5px;
 }
 .purchases h1{
    padding-bottom: 10px;
    color: white;
 }
  
/*products-detail*/
.img-carrusel{
    object-fit: contain;
    height: 350px;  
}
.carousel-item{
    padding: 3rem 1rem;
    justify-content: center;
}
.description{
    text-align: justify;
    padding-top: 7px;
}
.price{
    text-align: center;
    font-size: 25px;
    color: white;
}
.btn-add{
    width: 50px;
}
.left-top{
    position: absolute;
    top: 110px;
    right: 110px;
}

/*cart*/
.offcanvas{
    display: flex;
    padding: 20px;
}




